<section class="sub-header">
    <nav>
        <a [routerLink]="['/home']"></a>
    </nav>
    <h1>Contact Us</h1>
</section>

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h2>Why Should One Choose Raghu Ramji To Be Their Astrologer?</h2>
            <p>Astrologer Raghu Ramji is followed by more than 10 countries of the world. He is known as the best for
                his accurate solutions and understanding of the problems a person might be facing. He has been able to
                guide through
                and advise more than 5k people in his career where he was also able to help a lot of couples understand
                the relationship and get back together. His guidance is prioritized by most of the people in the world.
                <br>
                <br>
                Astrologer Raghu Ramji has 25 years of experience in the astrology field. He is an expert in science
                where he can judge every person’s celestial bodies with their human affairs. It takes an artist to
                understand the
                concepts that go in the readings, to solve business problems, to remove the negative energy, or to get
                your love back. These are some of the services that are provided by Astrologer Raghu Ramji helping
                people stay calm and enjoy their lives. He recites different mantras, provides readings of horoscopes
                according to the birth dates, and understanding the Vaastu shastra of how to keep material in your house
                or workplace to achieve success are the topics of guidance of Astrologer Raghu Ramji.
            </p>
        </div>
        <div class="about-col" style="padding: 0;">
            <section class="location">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1563314.477433815!2d-75.84549460753749!3d40.06763585037149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c0fb959e00409f%3A0x2cd27b07f83f6d8d!2sNew%20Jersey%2C%20USA!5e0!3m2!1sen!2sin!4v1664169320291!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        </div>
    </div>
</section>
<hr>
<section class="contact-us">
    <div class="row">
        <div class="contact-col">

            <h4>Quick Contact</h4>
            <p>If you have any questions simply use the following contact details.</p>
            <div>
                <i class="fa-regular fa-home"></i>
                <span>
                    <h5>New Jersey</h5>
                    <!-- <p>New Jersey</p> -->
                </span>
            </div>
            <div>
                <i class="fa-regular fa-phone"></i>
                <span>
                    <h5>+91 9293722423</h5>
                    <p>Monday to Saturday, 10AM to 6PM</p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i>
                <span>
                    <h5>info@psychic-raghuramji.com</h5>
                    <p>Email us your query</p>
                </span>
            </div>
        </div>
        <div class="contact-col comment-box">
            <h4>Send Message Us</h4>
            <form action="formemail.php" method="post" class="comment-form">
                <input type="text" name="name" placeholder="Enter your name" required>
                <input type="email" name="email" placeholder="Enter Email-Id" required>
                <input type="text" name="subject" placeholder="Enter your subject" required>
                <textarea placeholder="Message" name="message" rows="8" required></textarea>
                <button type="submit" class="hero-btn red-btn">Submit</button>
            </form>


        </div>
    </div>
</section>
<hr>
<section class="testimonials">
    <div class="testimonial">
        <h2 class="titleImg">Testimonials Of Our Clients</h2>
        <div class="titleImg">
            <button mat-raised-button color="accent" class="textBtn">
                <h6>About No.1 Astrologer Raghu Ram</h6>
            </button>
        </div>
        <p class="textP">Astrologer Raghu Ram believes that he is where he is because of his clients, the people who
            trusted him enough to share their personal problems with him. These are the testimonials of some of his best
            clients.</p>
    </div>

    <div class="row">
        <div class="testimonials">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="testimonials-col">
                        <img src="../../../assets/img/images.jpg" alt="">
                        <div>
                            <p>I was facing very serious love issues with my partner. She did not want to marry me due
                                to my
                                aggressiveness
                                but Astrologer Raghu ramji was able to help me find a solution to this by making me calm
                                and
                                composed.</p>
                            <h5>Sonam</h5>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star_border</mat-icon>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonials-col">
                        <img src="../../../assets/img/images.jpg" alt="">
                        <div>
                            <p>I was facing very serious love issues with my partner. She did not want to marry me due
                                to my
                                aggressiveness
                                but Astrologer Raghu ramji was able to help me find a solution to this by making me calm
                                and
                                composed.</p>
                            <h5>Sonam</h5>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star_border</mat-icon>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonials-col">
                        <img src="../../../assets/img/Female-Avatar-3.jpg" alt="">
                        <div>
                            <p>When I met him he said some ways that how he will fix my issue I was ok with that and he
                                did some
                                prayers for
                                48 days and he catch the evil that It was troubling me so badly from 2yrs</p>
                            <h5>Charlotte </h5>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star_half</mat-icon>
                            <mat-icon class="star">star_border</mat-icon>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonials-col">
                        <img src="../../../assets/img/Female-Avatar-3.jpg" alt="">
                        <div>
                            <p>Astrologer Raghu ramji helped me find a way to solve the family problems that I have been
                                facing
                                for
                                a very
                                long
                                time. Now, my family members do not taunt me without any reason and are very caring
                                towards me.
                            </p>
                            <h5>Janet</h5>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star_half</mat-icon>
                            <mat-icon class="star">star_border</mat-icon>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonials-col">
                        <img src="../../../assets/img/images.jpg" alt="">
                        <div>
                            <p>he is a best renowned astrologer in Atlanta. He gives best results with permanent
                                solutions. By
                                consulting
                                him I’m very satisfied.
                            </p>
                            <h5>Jennifer </h5>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star_half</mat-icon>
                            <mat-icon class="star">star_border</mat-icon>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonials-col">
                        <img src="../../../assets/img/housewife-avatar-icon.jpg" alt="">
                        <div>
                            <p>I strongly recommend him because He help me a lot in my relationship I’m very happy today
                            </p>
                            <h5>Amelia </h5>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star_half</mat-icon>
                            <mat-icon class="star">star_border</mat-icon>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonials-col">
                        <img src="../../../assets/img/images.jpg" alt="">
                        <div>
                            <p>Seriously I talked with him and he told me everything about my past..Best knowledge of
                                Astrology..
                                Once you
                                talk with him and he told you everything about your life.Thanks sir</p>
                            <h5>Roxie Burton </h5>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star</mat-icon>
                            <mat-icon class="star">star_half</mat-icon>
                            <mat-icon class="star">star_border</mat-icon>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>

    </div>
</section>

<hr>