<div>
  <ngb-carousel [showNavigationArrows]="true">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/img/slide1.jpg" alt="Random first slide">
      </div>
      <div class="text-box">
        <!-- <div class="carousel-caption"> -->
        <h1>Black Magic Removal - Astrologer Raghu Ram</h1>
        <p>Book your appointment today to meet the astrologer and know what your stars say about you. Black Magic
          Removal. Get Your love Back. Vashikaran Specialist.</p>
        <a href="tel:+919293722423" class="hero-btn phone site-button outline" target="_blank">Call Now <i
            class="fa-solid fa-phone"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
          class="hero-btn whatsapp " target="_blank">Chat Now <i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/img/slide2.jpg" alt="Random first slide">
      </div>
      <div class="text-box">
        <h1>Get Love Back Astrologer - in Atlanta, Georgia</h1>
        <p>Change your Love Life Call Today, Call Now For Love, Relationship, Breakup & Marriage. Get Genuine & Perfect
          Solutions to all Your Problems Either Personal or Professional.
        </p>
        <a href="tel:+919293722423" class="hero-btn phone " target="_blank">Call Now <i
            class="fa-solid fa-phone"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
          class="hero-btn whatsapp " target="_blank">Chat Now <i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img src="../../../assets/img/banner1.jpg" alt="Random first slide">
      </div>
      <div class="text-box onlyBtn">
        <a href="tel:+919293722423" class="hero-btn phone " target="_blank">Call Now <i
            class="fa-solid fa-phone"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
          class="hero-btn whatsapp " target="_blank">Chat Now <i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img src="../../../assets/img/banner2.jpg" alt="Random first slide">
      </div>
      <div class="text-box onlyBtn">
        <a href="tel:+919293722423" class="hero-btn phone " target="_blank">Call Now <i
            class="fa-solid fa-phone"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
          class="hero-btn whatsapp " target="_blank">Chat Now <i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img src="../../../assets/img/banner3.jpg" alt="Random first slide">
      </div>
      <div class="text-box onlyBtn">
        <a href="tel:+919293722423" class="hero-btn phone " target="_blank">Call Now <i
            class="fa-solid fa-phone"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
          class="hero-btn whatsapp " target="_blank">Chat Now <i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img src="../../../assets/img/banner4.jpg" alt="Random first slide">
      </div>
      <div class="text-box onlyBtn">
        <a href="tel:+919293722423" class="hero-btn phone " target="_blank">Call Now <i
            class="fa-solid fa-phone"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
          class="hero-btn whatsapp " target="_blank">Chat Now <i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img src="../../../assets/img/slide3.jpg" alt="Random first slide">
      </div>
      <div class="text-box onlyBtn">
        <a href="tel:+919293722423" class="hero-btn phone " target="_blank">Call Now <i
            class="fa-solid fa-phone"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
          class="hero-btn whatsapp " target="_blank">Chat Now <i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </ng-template>


  </ngb-carousel>

</div>

<section class="hidden-md hidden-lg">

  <div style="text-align: center;padding-top: 7px;">
    <h2 class="text-h">Our Services</h2>
    <h5>World Famous Astrologer in New Jersey</h5>
    <div class="dlab-separator-outer m-b0">
      <div class="dlab-separator text-primary style-icon"><img src="../../../assets/img/hand.png" alt=""></div>
    </div>
    <p>Raghu Ramji is Here To Guide You To The Right Path If You Want To Find Your Twin Flame.</p>
  </div>
  <div class="testimonials">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let i of arr; let index = index">
        <img class="imgservice" [src]="i.src" alt="">
        <p class="titleImg">{{i.title}}</p>
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="sbtn" [routerLink]="['/services']" style="text-align: center;"><button mat-stroked-button
      class="  serviceBtn btn-lg">See all
      Services</button>

  </div>
  <hr>
  <div class="how gradient">
    <h2 class="titleImg">How Raghu Ram</h2>
    <div class="titleImg">
      <button mat-raised-button color="accent" class="textBtn">
        <h6>Become So Famous Astrologer In Atlanta, Georgia</h6>
      </button>
    </div>
    <p class="textP">Raghu Ram is a famous astrologer with his name all over the world. He
      is known very well for his experience in solving the problems of people that they find hard to solve. Astrology is
      a science not everyone can be an expert in but he is and he is very famous for what he does.</p>

    <div class="container">
      <div class="row">
        <div class="col">
          <mat-card class="example-card">
            <img src="../../../assets/img/365-days-icon.png" alt="">
            <mat-card-title>365 Days Availability</mat-card-title>
            <mat-card-content>
              <p>The most beneficial point of contacting Astrologer Raghu Ram is that he is available 365 days at
                your disposal. If you feel sad or scared and you need a spiritual person to help you, he is the right
                pick for you.</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="example-card">
            <img src="../../../assets/img/100-client.png" alt="">
            <mat-card-title>100% Clients Satisfaction</mat-card-title>
            <mat-card-content>
              <p>There has been no client who is not satisfied with the works of Astrologer Raghu Ram. The clients
                are very satisfied with the solutions he provides to the problem people are facing.</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="example-card">
            <img src="../../../assets/img/2k-couple-icon.png" alt="">
            <mat-card-title>2k+ Couple Reunited</mat-card-title>
            <mat-card-content>
              <p>He has reunited many couples by making them realise the issues of their relationship and guide them on
                how to work on those issues.</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="example-card">
            <img src="../../../assets/img/gurantted-icon.png" alt="">
            <mat-card-title>Guranteed Privacy</mat-card-title>
            <mat-card-content>
              <p>A lot of people are worried about their privacy when they start to share their personal problems with a
                stranger but he is a known astrologist who keeps the issues of his clients private.</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>

<section class="testimonials">
  <div class="testimonial">
    <h2 class="titleImg">Testimonials Of Our Clients</h2>
    <div class="titleImg">
      <button mat-raised-button color="accent" class="textBtn">
        <h6>About No.1 Astrologer Raghu Ram</h6>
      </button>
    </div>
    <p class="textP">Astrologer Raghu Ram believes that he is where he is because of his clients, the people who
      trusted him enough to share their personal problems with him. These are the testimonials of some of his best
      clients.</p>
  </div>

  <div class="row">
    <div class="testimonials-col">
      <img src="../../../assets/img/images.jpg" alt="">
      <div>
        <p>I was facing very serious love issues with my partner. She did not want to marry me due to my aggressiveness
          but Astrologer Raghu ramji was able to help me find a solution to this by making me calm and composed.</p>
        <h5>Sonam</h5>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star_border</mat-icon>
      </div>
    </div>
    <div class="testimonials-col">
      <img src="../../../assets/img/men-avatar.jpg" alt="">
      <div>
        <p>I was very tense due to my financial condition. I asked Raghu ramji to do my psychic reading and provide me
          with
          a solution. He suggested some things and now, I have a job that pays me well. </p>
        <h5>John Kennedy</h5>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star_half</mat-icon>
        <mat-icon class="star">star_border</mat-icon>
      </div>
    </div>
    <div class="testimonials-col">
      <img src="../../../assets/img/Female-Avatar-3.jpg" alt="">
      <div>
        <p>Astrologer Raghu ramji helped me find a way to solve the family problems that I have been facing for a very
          long
          time. Now, my family members do not taunt me without any reason and are very caring towards me. </p>
        <h5>Janet</h5>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star_half</mat-icon>
        <mat-icon class="star">star_border</mat-icon>
      </div>
    </div>
    <div class="testimonials-col">
      <img src="../../../assets/img/images.jpg" alt="">
      <div>
        <p>he is a best renowned astrologer in Atlanta. He gives best results with permanent solutions. By consulting
          him I’m very satisfied.
        </p>
        <h5>Jennifer </h5>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star_half</mat-icon>
        <mat-icon class="star">star_border</mat-icon>
      </div>
    </div>
    <div class="testimonials-col">
      <img src="../../../assets/img/housewife-avatar-icon.jpg" alt="">
      <div>
        <p>I strongly recommend him because He help me a lot in my relationship I’m very happy today
        </p>
        <h5>Amelia </h5>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star_half</mat-icon>
        <mat-icon class="star">star_border</mat-icon>
      </div>
    </div>
    <div class="testimonials-col">
      <img src="../../../assets/img/images.jpg" alt="">
      <div>
        <p>Seriously I talked with him and he told me everything about my past..Best knowledge of Astrology.. Once you
          talk with him and he told you everything about your life.Thanks sir</p>
        <h5>Roxie Burton </h5>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star_half</mat-icon>
        <mat-icon class="star">star_border</mat-icon>
      </div>
    </div>
    <div class="testimonials-col">
      <img src="../../../assets/img/Female-Avatar-3.jpg" alt="">
      <div>
        <p>When I met him he said some ways that how he will fix my issue I was ok with that and he did some prayers for
          48 days and he catch the evil that It was troubling me so badly from 2yrs</p>
        <h5>Charlotte </h5>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star_half</mat-icon>
        <mat-icon class="star">star_border</mat-icon>
      </div>
    </div>

  </div>
</section>
<hr>
<section class="campus">
  <h1>Travel Around The World</h1>
  <p>Well Know in most of the countrys and travelled more than 9+ countrys and top three are USA, LONDON & AUSTRALIA</p>

  <div class="testimonials">
    <owl-carousel-o [options]="customOptionspl">
      <ng-template carouselSlide *ngFor="let item of items, let index = index">
        <img class="imgL" [src]="item" alt="">
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section class="cta">
  <h1>Contact us</h1>
  <a [routerLink]="['/contact']" class="hero-btn">CONTACT US</a>
</section>

<hr>