<section class="sub-header">
    <!-- <nav>
        <a [routerLink]="['/Thome']"><img src="../../../assets/img/logo-black.png"></a>
        <div class="nav-links" [style.right]="val" id="navLinks">
            <mat-icon class="micon" (click)="hideMenu()">close</mat-icon>
            <ul>
                <li><a [routerLink]="['/Thome']" href="">HOME</a></li>
                <li><a [routerLink]="['/Tabout']" href="">ABOUT US</a></li>
                <li><a [routerLink]="['/Tcourses']" href="">OUR SERVICE</a></li>
                <li><a [routerLink]="['/TContact']" href="">CONTACT US</a></li>
            </ul>
        </div>

        <mat-icon class="micon" (click)="showMenu()">menu</mat-icon>
    </nav> -->
    <nav>
        <a [routerLink]="['/home']"></a>
    </nav>
    <h1>About Us</h1>
</section>


<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>We are the world's largest university</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta incidunt accusamus suscipit quasi vero
                magni fugit tempora, ipsam, aliquam exercitationem possimus, voluptate modi quo. Ut fugiat illum totam
                consequatur ipsam!</p>
            <a href="" class="hero-btn red-btn">EXPLORE NOW</a>
        </div>
        <div class="about-col">
            <img src="../../../assets/img/pic2.jpg" alt="">
        </div>
    </div>
</section>


<section class="footer">
    <h4>About us</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, inventore ab nemo debitis facilis ducimus odio
        ex. <br>Dicta quam ullam quod sint porro nisi natus ad numquam sed, ea libero?</p>
    <div class="icons">
        <!-- <fa-icon [icon]="facebook"></fa-icon> -->
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <p>Made with <i class="fa-regular fa-heart"></i></p>
</section>


<div class="count-div">
    <div class="count-col"></div>
</div>
<!-- <div class="elementor-background-overlay"></div> -->
<div id="value">100</div>