<section class="sub-header">
    <nav>
        <a [routerLink]="['/home']"></a>
    </nav>
    <h1>Our Services</h1>
</section>
<section class="blog-content">
    <div class="rowB">
        <div class="blog-left">
            <div>
                <h3>Why Should One Choose Raghu Ramji To Be Their Astrologer?</h3>
                <p>The psychic Raghu Ramji is the Best Astrologer in New Jersey who gives remedies for the majority of
                    our
                    issues. People face problems every day and need an answer quickly so that they can go through their
                    lives with ease. The most trusted Astrologer of New Jersey,when it is dealing with the issues of the
                    people. He will ensure that by utilizing your horoscope, he will be capable of providing the best
                    solution to your issue. The issue could be due to relationships between lovers such as horoscope
                    readings, Vashikaran spells, black magic and familial disputes, jealousy and marital troubles.</p>
                <h4 style="text-align:center ;">How To Contact</h4>
                <p style="text-align:center;"><span><a
                            href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                            class="float-w" target="_blank">
                            <i class="fa-brands fa-whatsapp my-float"></i>
                        </a>
                        <a href="tel:+919293722423" class="float-p" target="_blank">
                            <i class="fa-regular fa-phone my-float"></i>
                        </a>
                        <a (click)="scroll(comment)" class="float-c" target="_blank">
                            <i class="fa-regular fa-comments  my-float"></i>
                        </a></span></p>

            </div>
        </div>
        <div class="blog-right">
            <h3>Our Services</h3>
            <div (click)="scroll(exLove)">
                <span>Get Back Love</span>
            </div>
            <div (click)="scroll(loveMarr)">
                <span>Love Marriage</span>
            </div>
            <div (click)="scroll(husWife)">
                <span>Husband Wife Disputes</span>
            </div>
            <div (click)="scroll(familyProb)">
                <span>Family Problems</span>
            </div>
            <div (click)="scroll(jobbuss)">
                <span>Job & Business Problems</span>
            </div>
            <div (click)="scroll(health)">
                <span>Health Problems</span>
            </div>
            <div (click)="scroll(childless)">
                <span>Childless Couple</span>
            </div>
            <div (click)="scroll(blackMagic)">
                <span>Black Magic And Evil Spirit Removal</span>
            </div>
            <div (click)="scroll(psychicReading)">
                <span>Psychic Reading</span>
            </div>
            <div (click)="scroll(spiritualHealing)">
                <span>Spiritual Healing</span>
            </div>
            <div (click)="scroll(vashikaranspecialist)">
                <span>Vashikaran Specialist</span>
            </div>
            <div (click)="scroll(relationshipIssues)">
                <span>Relationship Issues</span>
            </div>
            <div (click)="scroll(negativeEnergy)">
                <span>Negative Energy</span>
            </div>
            <div (click)="scroll(horoscope)">
                <span>Horoscope</span>
            </div>
            <div (click)="scroll(courtCase)">
                <span>Court Case</span>
            </div>
        </div>
    </div>
</section>
<hr>

<section class="about-us">
    <div class="hidden-md hidden-lg">
        <div style="text-align: center;padding-top: 7px;">
            <h2 class="text-h">Our Services</h2>
            <h5>World Famous Astrologer Raghu Ramji is Here To Guide You To The Right Path in New Jersey</h5>
            <div class="dlab-separator-outer m-b0">
                <div class="dlab-separator text-primary style-icon"><img src="../../../assets/img/hand.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div #exLove class="row">
        <div class="about-col">
            <h1>Get Back Your Love </h1>
            <p>The most precious relationship is love. It creates the most lasting memories that will last a
                lifetime.
                The most common thing that happens to everyone is love. When they are in love, people feel so happy
                and
                excited. Unfortunately, not everyone is able to stay with their loved one until the end of their
                lives.
                Loved ones want to move forward in their relationships, but they may face many problems in their
                love
                lives due to various factors.
                Parents won't agree to their children marrying, and the couple may be a problem for them or for
                other
                financial or career reasons. Raghu Ram, an astrologer who is an expert in Love Problem Solution,
                can
                help you if your relationship has broken down. He will provide 100% productive and fruitful
                solutions.
                He will assess your situation and provide a solution to all your problems. You can see the root
                cause of
                your problems just by looking at your face. This is how most Raghu Ram reviews are written. Meet
                Raghu Ram, Love Problem Solution Specialist, to resolve all your love problems and get your lost
                love
                back quickly.
            </p>
            <p>Our astrologer will soon be able to help you with your Love Problem Solution after separation. Talk
                to
                Raghu Ram about your Love Problem Solution. It can be very painful and demoralising to lose your
                love
                and try to find him/her. If you are truly looking for a Love Problem Solution, he can help you. This
                is
                possible if you are a valid person and the procedure is groundbreaking.</p>
        </div>
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/exLove.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
    </div>
    <hr>
    <div #loveMarr class="row">
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/loveMarr.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
        <div class="about-col">
            <h1>Love Marriage</h1>
            <p>Are you looking for Love Marriage Problems Solution by phone call? These days, love marriage problem
                solutions are becoming more common. Get in touch with the top Love Marriage Problems Solution
                Astrologer. You may also be one of these couples and are looking for a quick and effective solution
                to your love marriage problem. Today, 90% of young people are experiencing problems in their
                relationships and marriages. They live in despair, low self-confidence, low productivity, and an
                unhappy life. Do you have problems in your love marriage? Are your parents refusing to accept the
                match? Perhaps your society and financial differences are a hindrance to the match? Perhaps your
                spouse is in doubt or in a dilemma. Lose no hope. Find Love Marriage Problems Solution Astrologer
                results. This is the best astrologer to help you with your Love Marriage Problems Solution.
            </p>
            <p>Raghu Ram, the best Love Marriage Problems Solution, has a specialisation on love astrology.
                Raghu Ram, a Love Marriage Problems Solution Astrologer, has a wealth of experience. He has
                assisted thousands of people to get married to their love. Raghu Ram is world-visible... The
                decline in marriages has led to a decrease in love relationships, which causes more stress in
                people's daily lives. This is where Love Marriage Problems Solution Astrologer comes Lose no hope.
                Find Love Marriage Problems Solution Astrologer results. This is the best astrologer to help you
                with your Love Marriage Problems Solution.</p>
        </div>
    </div>
    <hr>
    <div #husWife class="row">
        <div class="about-col">
            <h1>Husband and Wife Disputes</h1>
            <p>The bond that couples have is based on faith and love. The couple's relationship is wonderful and
                charming. They promise to be together in all circumstances, and to faith and affection.
                However,after the wedding couples can fight with each other over little reasons. This can become a
                serious issue in their lives. Marriage is the most crucial aspect of every person's life. The reason
                for disputes between husband and wife is insecurity and confusion which will keep you from trust and
                love and draw all attention. Raghu Ram, a renowned and reputable American astrologer can help you
                rekindle your relationship if trust has been broken . Raghu Ram can help with suggestions, to
                reconnect with your beloved one.These issues cause the Couple relationship between husband and wife
                to be dull and boring. Raghu Ram has the solution and power to resolve Husband and Wife
                disagreement . Astrologer provides a variety of astrology solutions like Love spells that can
                resolve all your issues in a short amount of time and provide you with astonishing solutions. The
                most common causes of problems within the marriage relationship are the involvement from the other
                spouses. The husband and wife may not be in agreement that they wish to get their spouse back.
                Astrology for husband and wife argument solution with Raghu Ram. We will give you the best
                solution and 100% Result for you to return your spouse and live your life and be happy.<span
                    id="hwdots">...</span></p>
            <p id="hwmore">The relationship between a husband and wife is one of the ways in which the relationship of
                soul has
                a mate. If there is an element of conflict Husband Wife Problem Solution Husband Wife Problem
                Solution can affect the understanding of the couple and the harmony that the entire family has.
                Prior to that the Husband Wife Problem Solution starts affecting the family's life it is best to
                seek out an Husband Wife Problem Solution expert. If you're trying locate an astrologer that can
                resolve a Husband and Wife Conflict Solution successfully using astrology solutions, Raghu Ram is
                one among the best options available to you. </p>
            <p id="hwmore">Infidelity in marriage can cause disagreements in the course of a relationship. In all ways,
                this
                conflict can be damaging. If he determines that the compatibility is acceptable and then he examines
                with his psychic abilities to determine for any indication of evil or negative influence in the
                relationship. Husband wife Problem Solution expert then acts in accordance with the results. As per
                Husband Wife Problem Solution expert You can prevent your husband from having problems by
                implementing several remedies within your life. These include: .</p>
            <button (click)="myFunction('hwdots','hwmore','hwBtn')" class="serviceBtn" id="hwBtn">Read more</button>
        </div>
        <div class="about-col imgCol">
            <p>
            <p><img src="../../../assets/img/husWife.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
    </div>
    <hr>
    <div #familyProb class="row">
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/familyProb.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
        <div class="about-col">
            <h1>Family Problems</h1>
            <p>Family Problems Solutions by Raghu Ram. If there is a family conflict is a regular occurrence, then
                disobedience, the neglect of children or abuse from the perspective of different parents occur
                frequently and often, it is vital for people are required to make this effort. Children are a part
                of their parents, and they have their power and responsibility. Parents will choose the best path
                for their children and lifestyle for children. They also have to work in the direction of their
                parents to ensure the best future. However, in the present, the gap between children and parents is
                less for their children, and this creates the impression of not receiving care given to children.
                This is why a lot of children do not listen to their parents, and accept their parents as opponents,
                and then get off-guard from their parents or their poor presentation in school , bad grades , etc.
                This type of attitude isn't an ideal situation and it's the parental responsibility to manage
                Children's. Family members who are socially impaired are usually caused by a negative psychological
                dependence of one individual dependent on another adult. They can also be caused by dependency,
                including alcohol, drugs and other drugs. or, occasionally, untreated about the mental disease.
                Parents who are not functioning normally may duplicate the behaviour or even overcorrect from their
                dysfunctional parents. In certain People that are child-like and parents let the commands be used
                against their children. Family members with dysfunction share common traits and bearing patterns
                because of their existence inside the family form.Raghu Ram can solve your every Family and Child
                Problem. He is the most effective Astrologer in America, and he has helped many clients and solved
                their problems. are enjoying happy, joyful and peaceful lives. <span id="fdots">...</span> </p>
            <p id="fmore">Family is an essential element in the life of each individual since it is the family who
                taught us
                the good and bad things about everything. It also teaches us how to walk and eat is the same as how
                we talk, understand, study, and so on. When a lot of people live in a single dwelling, smiling and
                ups and sadness , etc. become elements of your family. But, do you imagine that there is a quarrel
                and discussion between two family members is disruptive for the entire family. In addition, small
                issues can turn into major problems and explanations for the loved one's desire to break up with one
                another. They begin to look for a break in order to include family members. This can be a problem
                for the entire family, so before it happens, put it off and use several Family Problems Solution
                predictions remedies to stop family disputes and conflicts. If your family members are experiencing
                problems, there is no reason for one person in the family, you need to seek out an astrologer.
                provide the individual's Kundli to an astrologer. They will assist you in eliminating this issue. It
                is a suggestion by an astrologer and our astrology that every family should try to maintain "homa
                puja" in their home. Homa is a positive energy. It also helps remove all negative energy from your
                home, and helps to create peace within your home. Talk to a Family Problems Solution astrologer and
                after consulting, you can perform the proper Utara in your home during the night of no moon to
                shield your house from a bad impact. These are various remedies that will keep your family protected
                from negative effects . If family conflicts arise, they will be resolved quickly.</p>
            <button (click)="myFunction('fdots','fmore','fBtn')" class="serviceBtn" id="fBtn">Read more</button>
        </div>
    </div>
    <hr>
    <div #jobbuss class="row">
        <div class="about-col">
            <h1>Job and Business Problems</h1>
            <p>Work and business are the most vital aspects of our lives. If you are facing an issue with your job
                or business that affects on your professional and personal life due to the cost of your job and
                aren't concerned to live your life happily Raghu Ram Expert and renowned career problem solving
                astrologer can solve any problem faced by people who are struggling with the workplace or in their
                career. There is a variety of issues that arise in your career problems resolution, for example the
                financial circumstances of your family members, memory difficulties, inability to make the right
                decision due to pressure, or any other reason. Raghu Ram Astrologer provides you with the most
                effective solutions to your issues of work. If you are facing the same issue that is brought to the
                attention of astrologers, he'll offer solutions and workplaces for commercial problems. Astrologer
                famous Raghu Ram gives you the best workplaces for solutions to problems. Astrologer who is a
                famous fortune teller in the world of career solutions offers suggestions for the best solutions and
                remedies to build or expand your career. Job problems solutions astrologer with expertise has
                handled thousands of these cases in the current generation. <span id="jbdots">...</span></p>
            <p id="jbmore">Your career can be as important to your life in general. Certain people have an amazing life
                in their
                personal lives, however their work is creating too numerous issues. Sometimes, you have dreams of
                starting a business, however, you struggle a lot. This is due to slow growth or excessive losses.
                Are you unable to grow your business? Whatever issue you're facing, Career Solutions astrologer can
                provide the appropriate solutions for the identical. Career Solutions for Career Raghu Ram is a
                well-known healer and Astrologer who can assist people overcome their issues, professional or
                personal. According to him, the planet's locations can impact your life's circumstances, and so in
                order to increase your success and growth you must keep an eye on these. A lot of us have benefited
                through the guidance of a Career Solutions astrologer and brought success in their careers. If
                you're facing difficulties in your quest to achieve your career goals get in touch with him. In the
                final option, they request to be connected with my number when they can. At the sound of my name the
                entire business took an inventory of issues they face and are Your career can be as important to
                your life in general. Certain people have an amazing life in their personal lives, however their
                work is creating too numerous issues. Sometimes, you have dreams of starting a business, however,
                you struggle a lot. This is due to slow growth or excessive losses. Are you unable to grow your
                business? Whatever issue you're facing, Career Solutions astrologer can provide the appropriate
                solutions for the identical. Career Solutions for Career Raghu Ram is a well-known healer and
                Astrologer who can assist people overcome their issues, professional or personal. According to him,
                the planet's locations can impact your life's circumstances, and so in order to increase your
                success and growth you must keep an eye on these. A lot of us have benefited through the guidance of
                a Career Solutions astrologer and brought success in their careers. If you're facing difficulties in
                your quest to achieve your career goals get in touch with him. In the final option, they request to
                be connected with my number when they can. At the sound of my name the entire business took an
                inventory of issues they face and are resolved in a flash. Because I am a specialist in the area of
                magic. This means that my mantras are the strongest, strongest and most reliable solutions for you.
            </p>
            <button (click)="myFunction('jbdots','jbmore','jbBtn')" class="serviceBtn" id="jbBtn">Read more</button>

        </div>
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/jobbuss.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us </h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
    </div>
    <hr>
    <div #health class="row">
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/health.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us </h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
        <div class="about-col">
            <h1>Health Problems Astrologer</h1>
            <p>Get A Way To Your Health Issues From Raghu Ram Horoscopes can provide suggestions on your health
                and situation , and can help you maintain the health of your family. The analysis of astrology can
                reveal all the issues. Also, it can show how to address the Issues and also. In the forecast of the
                astrological calendar, there are four signs that represent health and celestial bodies orbiting an
                activity of a star in the your horoscope will show what is required working and the importance.
                Obstructing planets can cause the health of a person. To be aware of health issues, one should look
                at his Horoscope. There is no need for anyone to be in a hospital. It is very unlikely for someone
                to be an isolated life from all the health issues and be able to live without any issues. Despite
                the amazing capabilities, it's possible to be afflicted with an illness at any moment of your life.
                Astrology and horoscopes are utilised to help with health issues of Persons. The astrological
                forecast you receive will reveal health concerns as well as health-related issues, and suggests a
                move towards the future. Celestial bodies orbiting stars within the home chart show the physical
                abilities that are active working and how the planets impact the way things happen. The creation of
                the individual and their zodiac, an obstruction planet, can lead to medical issues.Raghu Ram is an
                expert for Horoscope reading and a verdict treatment for health problems based on the Horoscope. He
                is also an astrologer of repute in the United States. Helping with any health issues by astrology
                using a powerful cure. Astrology is the best method to deal with all health issues. However, it's
                impossible for a person to be free of any disease. When an individual is diagnosed with a Health
                Problems Solution, he gets trapped in the vicious cycle of medical professionals, treatments and
                drugs. But, they can seek the assistance from Raghu Ram , if there is a sufferer facing a problem
                in their lives. <span id="hpdots">...</span></p>
            <p id="hpmore">He will notify you of the impact due to the planet's location. He will examine the impact
                through a
                horoscope analysis. After analysing and applying all the knowledge and experience he has gained He
                will provide you with the results to your health Problems Solution. With the help of God's power and
                innovative methods, astrologers can provide you with all the information about your present, past
                and future. It could be a solution for whatever issues you encounter in your daily life. It could
                help you with health issues too. So, rather than investing your money, it is recommended to consult
                the astrologer Raghu Ram and discover the solution to your health problems that is endless. If
                you're looking to heal quickly from long-term health issues, you should follow the advice of
                intelligent health expert Raghu Ram .Hung by the planet's position and a person may be affected by
                health problems. Astrologers spotted the misalignment of the planets and stars and will perform
                Poojas to rectify the planet's locations. The old generation of people looked into medical
                divination more and came up with some dateless solutions for confirmed ailments. Astrology can help
                you to determine the root for Health Problems Solution and Raghu Ram will keep track of all
                organs' states of our bodies. He will give you precise predictions for all kinds of Health Problems
                Solution. His clients are extremely content with his unique approach to heal the disease.</p>
            <button (click)="myFunction('hpdots','hpmore','hpBtn')" class="serviceBtn" id="hpBtn">Read more</button>
        </div>
    </div>
    <hr>
    <div #childless class="row">
        <div class="about-col">
            <h1>Childless Couple</h1>
            <p>Childlessness in astrology is a speciality and we offer expert solutions for such problems faced by
                husband and wife. Call or chat with us for quick and reliable remedies that can bring back the happiness
                into your life. </p>
            <p>Childlessness for a woman can become a source of mental trauma especially in Indian societies as the
                pressure of having a child is very high from the in-law's side. She is blamed and illtreated thereby her
                trauma is increased. Absence of fertility or other medical factors or even the loss of children when
                very young or even later can lead to no child in the family. Why some couples are left childless can be
                understood by studying the horoscope of the couple.</p>
        </div>
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/childless.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us </h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
    </div>
    <hr>
    <div #blackMagic class="row">
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/blackMagic.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
        <div class="about-col">
            <h1>Black Magic And Evil Spirit Removal</h1>
            <p>Stay Protected Using Black Magic And Evil Spirit Removal Service By Expert Psychic
            </p>
            <p>Black magic is the infestation of negative energy and is harmful to your psychic wellbeing. Similarly, an
                attack by an evil spirit is a terrifying incident for any individual and it needs immediate
                intervention. There is no formula to recognize and treat the problem of a black magic attack or evil
                spirit outbreak unless you consult a black magic expert. If you are from Vancouver and you are disturbed
                by constant negative happening in your life, you may contact famous psychic Raghu Ram, who is a
                black magic specialist and evil spirit removal expert in New Jersey. With Vedic astrology background,
                Raghu Ram Ji has acquired detailed knowledge on Black Magic Removal and Evil Spirit Removal spells. But
                when is the right time to contact the best black magic astrologer?.</p>
        </div>
    </div>
    <hr>
    <div #psychicReading class="row">
        <div class="about-col">
            <h1>Psychic Reading</h1>
            <p>Get Better Mental Clarity With An Expert Psychic Reading
            </p>
            <p>Psychic reading is about learning your mind and its unconscious of the subconscious mind. It is not about
                reading the mind or hypnosis. It is a psychic activity where the psychic tries to reveal the hidden
                blockages in mental level so that he can help you to get rid of stress, tension, and anxiety. Raghu Ram
                Ji is a famous psychic reader astrologer and he has an audience base across the world who has
                enjoyed benefits from his psychic reading service. It has helped people of all social strata in enjoying
                stress-free life, has better control over anxiety, and has better power of decision making. The
                advantage of availing psychic reading support from Raghu Ram Ji is improved mental clarity that boosts
                performance, clears relationship dilemmas, and ensures the power of handling situations better. He
                offers both offline and online psychic reading services for his audience.</p>
        </div>
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/psychicReading.png" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
    </div>
    <hr>
    <div #spiritualHealing class="row">
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/spiritualHealing.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
        <div class="about-col">
            <h1>Spiritual Healing</h1>
            <p>Apply Spiritual Healing Support To Boost Positivity In Life
            </p>
            <p>Healing service is psychic medicine for our emotional health. If our soul gets bruised, it takes time to
                heal and sometimes the scar remains bleeding for long. A spiritual healer is the rightest person to
                treat the emotional crisis.The spiritual healing process is a psychic cleansing spell. However, you need
                support from an expert spiritual healer like Raghu Ram Ji. He is a Vedic Astrologer with natural
                psychic ability and presently he is based in Vancouver. If you are from New Jersey, and you want to get
                spiritual healing support, you should consult Raghu Ram Ji.</p>
        </div>
    </div>
    <hr>
    <div #vashikaranspecialist class="row">
        <div class="about-col">
            <h1>Vashikaran Specialist</h1>
            <p>Secure A Strong Bond With Your Loved Ones: A Vashikaran Specialist Can Help You.
            </p>
            <p>Vashikaran is a tantric spell and it is used to create a loving bond between two or more persons. A
                Vashikaran specialist can help you in two ways. <br>
                Helping in maintaining a decaying relationship with the help of Vashikaran<br>
                Cleaning the effect of bad Vashikaran and helping a relationship to survive.<br>
                Vashikaran is an intricate spell and it needs sheer expertise. If you feel that you are losing
                attraction in your life partner, or your partner is cheating on you, a Vashikaran expert can help you to
                save your relationship and decaying bonding.<br>
                If you feel that the most important person in your life is going away from you or your husband has been
                trapped by any evil-minded lady for her self-gratification, A Vashikaran expert like Raghu Ram Ji
                is the right person for you.</p>
        </div>
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/vashikaranspecialist.webp" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us
            </h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
    </div>
    <hr>
    <div #relationshipIssues class="row">
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/familyProb.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
        <div class="about-col">
            <h1>Relationship Issues</h1>
            <p>Solve Your Relationship Problems With Astrology Service For Relationship Issues
            </p>
            <p>Relationship problems are usually delicate issues. But they should receive immediate attention from all
                of us. Our relationships are priceless and we must try our best to make them free-flowing and
                stress-free. Investing quality time and proper emotional involvement can help you to overcome
                relationship hurdles, however, there are a few situations when you may need external help to protect
                your most important relationships from getting perished. <br>
                Despite we try our best, our relations face turmoil. When human effort cannot solve the complexity, we
                should seek help from an astrological expert, who is a practiced astrologer and a Relationship Issues
                solution expert. If you are from New Jersey, your luck is indeed good. You may seek consultation from
                astrologer Raghu Ram Ji. He is a Vedic astrologer and his Astrology Service for Relationship
                Issues has attracted audience appreciation.</p>
        </div>
    </div>
    <hr>
    <div #negativeEnergy class="row">
        <div class="about-col">
            <h1>Negative Energy Removal</h1>
            <p>Negative Energy Removal Service: Way To Attract Positive Vibes
            </p>
            <p>Negative energy is detrimental to positivity and can damage your progress and peace of mind. If you face
                an attack of negative energy, Astro service of negative energy removal is the one way you can get rid of
                its adverse effect. However, only a powerful psychic and negative energy expert can help you in this
                psychic revival process. <br>
                If you are feeling negativity around you for some unknown reason, you may assume that you have suffered
                from a negative energy attack already. It’s time to consult a negative energy expert, who can assess
                your condition and let you know if you require the support of a negative energy removal process. <br>
                If you are from Vancouver, you may consult Raghu Ram Ji, the best negative energy removal
                astrologer from Vedic astrology background.</p>
        </div>
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/negativeEnergy.webp" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
    </div>
    <hr>
    <div #horoscope class="row">
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/horoscope.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us </h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+919293722423" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
        <div class="about-col">
            <h1>Horoscope Reading</h1>
            <p>There are many people who are totally unaware of the things they need to do in life and the direction
                they ought to be going. They aren't aware of the events that are happening in their lives or what could
                happen if they don't keep their heads straight. To get rid of the confusion and headaches that has
                surrounded them that have them slowed down in the race of life people turn to Horoscope reading experts
                at New Jersey ,There are many who are looking to find out what they are about, what attitudes they must
                adopt towards life, and what areas that will make them excel most. Horoscopes provide the totality of
                our lives, which are broken down in 12 different houses with each house representing a specific part of
                our lives and the planets, which are the ultimate judges of our lives and our future. The Lord of the
                Houses as well as their strength and weaknesses as well as the positive and negative influences of the
                planets determine what kind of life we'll lead.</p>
        </div>
    </div>
    <hr>
    <div #courtCase class="row">

        <div class="about-col">
            <h1>Court Case</h1>
            <p>Court cases are a normal part that we all face in our lives. They can be a long-term hassle as they take
                time to settle the court case. Furthermore, the final decision in the case can be an element of tension
                and anxiety when it's in opposition to the decision. However, with the aid of astrology, you will be
                able to relieve yourself of the stress and stress if you're seeking benevolence from a court case
                problem solution astrologer like Raghu Ram . This expert astrologer is experienced enough to determine
                the
                forces of the astral that are not favorable to your situation and offer ways to bring your court
                proceedings to a peaceful conclusion. A favorable settlement of courtroom proceedings brings peace to
                your mind as well as, at the same time, it will save you time and money. You should be looking for the
                right blessings and treatment from Raghu Ram Ji, the best astrologer in the United States for settling
                the
                proceedings in court.</p>
        </div>
        <div class="about-col imgCol">
            <p><img src="../../../assets/img/courtCase.jpg" alt=""></p>
            <h4 style="text-align:center ;padding-top:10px">Contact-us</h4>
            <p style="text-align:center;"><span><a
                        href="https://api.whatsapp.com/send?phone=+919293722423&text=Hello%20i%20need%20help."
                        class="float-w" target="_blank">
                        <i class="fa-brands fa-whatsapp my-float"></i>
                    </a>
                    <a href="tel:+13476768020" class="float-p" target="_blank">
                        <i class="fa-regular fa-phone my-float"></i>
                    </a>
                    <a (click)="scroll(comment)" class="float-c" target="_blank">
                        <i class="fa-regular fa-comments  my-float"></i>
                    </a></span></p>
        </div>
    </div>

</section>

<hr>

<section #comment class="blog-content">
    <div class="rowB">
        <div class="blog-left">
            <div>
                <h3>Why Should One Choose Raghu Ramji To Be Their Astrologer?</h3>
                <p>The psychic Raghu Ramji is the Best Astrologer in New Jersey who gives remedies for the majority of
                    our
                    issues. People face problems every day and need an answer quickly so that they can go through their
                    lives with ease. The most trusted Astrologer of New Jersey,when it is dealing with the issues of the
                    people. He will ensure that by utilizing your horoscope, he will be capable of providing the best
                    solution to your issue. The issue could be due to relationships between lovers such as horoscope
                    readings, Vashikaran spells, black magic and familial disputes, jealousy and marital troubles.</p>

            </div>

            <div class="comment-box">
                <h3>Send Message Us</h3>
                <form action="formemail.php" method="post" class="comment-form">
                    <input type="text" name="name" placeholder="Enter your name" required>
                    <input type="email" name="email" placeholder="Enter Email-Id" required>
                    <input hidden="ture" type="text" name="subject" placeholder="Enter your subject"
                        value="This comment is to contact" required>
                    <textarea placeholder="Message" name="message" rows="8" required></textarea>
                    <button type="submit" class="hero-btn red-btn">Submit</button>
                </form>
            </div>
        </div>
        <div class="blog-right">
            <h3>Our Services</h3>
            <div (click)="scroll(exLove)">
                <span>Get Back Love</span>
            </div>
            <div (click)="scroll(loveMarr)">
                <span>Love Marriage</span>
            </div>
            <div (click)="scroll(husWife)">
                <span>Husband Wife Disputes</span>
            </div>
            <div (click)="scroll(familyProb)">
                <span>Family Problems</span>
            </div>
            <div (click)="scroll(jobbuss)">
                <span>Job & Business Problems</span>
            </div>
            <div (click)="scroll(health)">
                <span>Health Problems</span>
            </div>
            <div (click)="scroll(childless)">
                <span>Childless Couple</span>
            </div>
            <div (click)="scroll(blackMagic)">
                <span>Black Magic And Evil Spirit Removal</span>
            </div>
            <div (click)="scroll(psychicReading)">
                <span>Psychic Reading</span>
            </div>
            <div (click)="scroll(spiritualHealing)">
                <span>Spiritual Healing</span>
            </div>
            <div (click)="scroll(vashikaranspecialist)">
                <span>Vashikaran Specialist</span>
            </div>
            <div (click)="scroll(relationshipIssues)">
                <span>Relationship Issues</span>
            </div>
            <div (click)="scroll(negativeEnergy)">
                <span>Negative Energy</span>
            </div>
            <div (click)="scroll(horoscope)">
                <span>Horoscope</span>
            </div>
            <div (click)="scroll(courtCase)">
                <span>Court Case</span>
            </div>
        </div>
    </div>
</section>
<hr>