<footer class="bd-footer py-5 mt-3 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-6  col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                    aria-label="Bootstrap">
                    <img style="height: 40px;border-radius: 21px;margin-right: 8px;"
                        src="../../../assets/img/astrology-signs-sun.jpg"><span class="fs-5">Raghu Ramji</span>
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">Get all your problems solved by Raghu Ramji.</li>
                    <li class="mb-2"><i class="fa-solid fa-location-dot"></i> ADDRESS: 135-01 Liberty Ave, south
                        Richmond hill, Queens, NY 11419</li>
                    <li class="mb-2"><i class="fa-solid fa-phone"></i> +91 9293722423 </li>
                    <li class="mb-2"><i class="fa-solid fa-calendar"></i> Monday to Saturday, 10AM to 6PM</li>
                    <li class="mb-2"> <i class="fa-solid fa-envelope"></i> info@psychic-raghuramji.com.</li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 offset-lg-1 mb-4">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a [routerLink]="['/home']" href="">Home</a></li>
                    <li class="mb-2"><a [routerLink]="['/Tabout']">About Us</a></li>
                    <li class="mb-2"><a [routerLink]="['/services']">Our Services</a></li>
                    <li class="mb-2"><a [routerLink]="['/contact']">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <h5>SERVICES</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'exLove'}">Get Back Love</a>
                    </li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'loveMarr'}">Love Marriage</a>
                    </li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'husWife'}">Husband Wife
                            Disputes</a>
                    </li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'familyProb'}">Family
                            Problems</a></li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'jobbuss'}">Job & Business
                            Problems</a></li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'health'}">Health Problems</a>
                    </li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'courtCase'}">Court Case</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5 class="serv">SERVICES</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'blackMagic'}">Black Magic And
                            Evil Spirit Removal</a></li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'childless'}">Childless
                            Couple</a></li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'psychicReading'}">Psychic
                            Reading</a></li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'spiritualHealing'}">Spiritual
                            Healing</a>
                    </li>
                    <li class="mb-2"><a [routerLink]="['/services']"
                            [queryParams]="{SR: 'vashikaranspecialist'}">Vashikaran Specialist</a>
                    </li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'health'}">Health Problems</a>
                    </li>
                    <li class="mb-2"><a [routerLink]="['/services']" [queryParams]="{SR: 'horoscope'}">Horoscope</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="disclaimer">
            <b>Disclaimer:</b> The astrology consultation and service provided by Raghu Ram is purely based on his
            knowledge of astrology and the severity of your situation. There is absolutely no guarantee about the
            accuracy of the astrology predictions/analysis and solutions that he provide and cannot be held responsible
            in any way for any adverse consequences.
        </div>

        <section class="footer">
            <div class="icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <p>Copyright © 2022 Raghu Ramji. All Rights Reserved. | Web Design Company : HVS Technologies</p>
        </section>
    </div>
</footer>